body {
	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	background-color: #4CAF50;
}

#calculator {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300px;
	transform: translate(-50%, -50%);
}

#display {
	border-radius: 50px;
	margin-bottom: 5px;
	padding-right: 30px;
	color: #ffffff;
	font-size: 40px;
	text-align: right;
	height: 70px;
	line-height: 70px;
	background-color: #43A047;
}

button {
	background-color: #FFFFFF;
	border: none;
	border-radius: 100%;
	margin: 10px 10px 0px 0px;
	width: 60px;
	height: 60px;
	font-size: inherit;
	color: #4CAF50;
	cursor: pointer;
	
	/* Adds shadows under the buttons */
	-webkit-box-shadow: 0 8px 6px -6px #1B5E20;
	-moz-box-shadow: 0 8px 6px -6px #1B5E20;
	box-shadow: 0 8px 6px -6px #1B5E20;
}

button:hover {
	background-color: #FFEB3B;
	color: #000000;
}

button:active {
	background-color: #FFEB3B;
	color: #000000;
	padding: 0;
}

.bigButton {
	width: 135px;
	border-radius: 50px;
}

.sideButton {
	background-color: #81C784;
	color: #ffffff;}

.disabledButton {
	opacity: 0.6;
	cursor: not-allowed;
}